@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #f9fafa;
  --color-black: #141518;
  --color-blue: #1a9ff0;
  --color-darkBlue: #073d5d;
  --color-grey: #dee0e0;
  --color-darkGrey: #969696;
  --color-red: #cc473d;
  --color-green: #7aa300;
  --color-yellow: #fff6b0;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --size-avatar: 38px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-darkBlue);
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
}

.app {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 20%), 0 5px 20px 0 rgb(0 0 0 / 19%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 8px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 2rem;
  margin: 8px;
}

.logo-user {
  font-size: 0.7rem;
  color: var(--color-blue);
  padding-top: 8px;
}

.menu {
  color: var(--color-white);
}

.menu-item {
  color: var(--color-white);
  font-weight: bold;
}

.banner {
  margin: 8px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.banner-red {
  background-color: var(--color-red);
}

.banner-green {
  background-color: var(--color-green);
}

.auth-form {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  padding: 16px 32px;
}

.form-btn {
  font-size: 1.2rem;
  background: var(--color-blue);
  font-weight: bold;
  padding: 4px;
}

.form-btn-small {
  font-size: 0.8rem;
}

.auth-form-btn {
  margin: 16px;
}

.form-input {
  font-size: 1rem;
  margin: 4px 0;
}

.form-input:focus {
  outline: 2px dotted var(--color-blue);
}

.form-signup {
  margin-top: 8px;
}

.tweets {
  height: 100%;
  overflow-y: auto;
  color: var(--color-black);
  padding: 16px;
  list-style: none;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--color-darkGrey);
  scrollbar-face-color: var(--color-blue);
}

.tweets::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--color-darkGrey);
  width: 6px;
}

.tweets::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--color-blue);
}

.tweets-empty {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-grey);
  text-align: center;
}

.tweet {
  box-shadow: 0 4px 8px 0 var(--color-shadow);
  transition: 0.3s;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.tweet:hover {
  box-shadow: 0 8px 16px 0 var(--color-shadow);
}

.tweet-container {
  display: flex;
  width: 100%;
}

.avatar-img {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border-radius: 50%;
}

.avatar-txt {
  width: var(--size-avatar);
  height: var(--size-avatar);
  background-color: var(--color-grey);
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: var(--size-avatar);
}
.tweet-body {
  margin: 0px 8px;
  width: 100%;
}

.tweet-name {
  font-size: 0.9rem;
  font-weight: bold;
}

.tweet-username,
.tweet-date {
  font-size: 0.7rem;
  margin-left: 4px;
  color: var(--color-blue);
  font-weight: bold;
}

.tweet-username {
  cursor: pointer;
  transition: 200ms;
}

.tweet-username:hover {
  background: var(--color-yellow);
}

.tweet-date {
  color: var(--color-darkGrey);
}

.tweet-form {
  display: flex;
  width: 100%;
  padding: 4px 16px;
  background-color: var(--color-grey);
}

.tweet-input {
  width: 100%;
  margin-right: 4px;
}

.tweet-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-action-btn {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-blue);
  transition: transform 300ms;
}

.tweet-delete:hover {
  transform: scale(1.5);
}

.edit-tweet-form-action {
  float: right;
  margin-top: 4px;
}

.form-btn-update,
.form-btn-cancel {
  font-size: 0.8rem;
  background: var(--color-blue);
  font-weight: bold;
  padding: 4px;
}
.form-btn-cancel {
  margin-left: 8px;
  background: var(--color-red);
}
